*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

h1{
    font-size: 6vh;
    margin-top: 3vh;
    color: whitesmoke;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    height: 20vh;
    width: 20vh;
    border-radius: 1vh;
    font-size: 10vh;
    box-shadow: 0 0 1vh;
    font-size: 10vh;
    background-color: whitesmoke;
    color: #b0413e
}

.hide{
    display: none;
}

#msg{
    color: white;
    font-size: 5vh;
    margin-bottom: 2vh;
}

#reset{
    margin: 2vh;
    padding: 2vh;
    font-size: 2vh;
    border-radius: 1vh;
    background-color: #191913;
    color: #fff;
}